/* Main styling for website */

:root {
      --font-family: 'Roboto', system-ui, -apple-system, sans-serif;

      --fw-regular: 400;
      --fw-medium: 500;
      --fw-bold: 700;
         
      --fs-body: 1rem; /*16px*/
      --fs-small: 1.5rem; /*24px*/
       --fs-small-big: 1.75rem; /*28px*/
      --fs-medium: 2rem; /*32px*/
      --fs-big: 3rem; /*48px*/
      --fs-enormous: 4rem; /*64px*/
      
      --font-color-r: rgb(255, 0, 0);
      --font-color-w: rgb(255, 255, 255);
      --font-color-b: rgb(0, 0, 0);
}



html {
    scroll-behavior: smooth;
    scrollbar-color: var(--font-color-r);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    font-family: var(--font-family);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    color: var(--font-color-w);
}

/*Start of Header, Navigation and Resume button styling */

.header {
    width: 100%;
    background: linear-gradient(to bottom, #000000, #050505);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #292727
}

/* Inner header for styling and placement */
.inner-header {
    display: flex;
    max-width: 1200px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Logo name styling*/
.title a {
    display: flex;
    font-weight: var(--fw-bold);
    color: var(--font-color-r);
}

.title a:focus-visible {
    outline: 2px solid var(--font-color-r);
    outline-offset: 4px;
}

/* Navigation styling */
.navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 80px;
}

.nav-items { 
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-items a {
    transition: color 0.3s ease-in-out;
    color: var(--font-color-w);
    font-weight: var(--fw-regular);
}

.nav-items a:hover { 
    color: var(--font-color-r);
}

/* Resume button styling */
.btn-resume a {
    display: flex;
    background-color: var(--font-color-r);    
    color: var(--font-color-b);             
    padding: 10px 20px;       
    border-radius: 10px;       
    text-align: center;      
    font-weight: var(--fw-bold);
}

.btn-resume a:hover {
    background-color: #8b0000;
}

.btn-resume a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--font-color-r);
}

/* Close and Open Icon Styling */
.close-open-menu-icons {
    display: flex;
    align-items: center;
}

#open-menu-icon, 
#close-menu-icon {
    font-size: 32px;
    color: var(--font-color-w);
    cursor: pointer;
    display: none;
}

#open-menu-icon:hover, 
#close-menu-icon:hover {
    color: var(--font-color-r);
}

/*End of Header, Navigation and Resume button styling */


/*Start of Main Content */

main {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/*Inline with navigation */
.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

/*Start of Section Home Styling*/

.inner-home-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}

/*This is important as we need some space, so that our side nav can pop 
up while not fully disrupting the home section  */
#home {
    padding-top: 11rem;
     scroll-margin-top: 120px; /*Need to do because it doesnt go on content correctly*/
}

/*Start of the left section of home content styling*/
.home-left {
    display: flex;
    flex-direction: column;
    
}

.home-greeting {
    color: var(--font-color-r);
    font-weight: var(--fw-medium);
    font-size: var(--fs-body);
}

.home-name {
    margin: 0;
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
}

.home-name strong {
    color: var(--font-color-r);
}

.home-field {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: var(--fw-medium);
    font-size: var(--fs-small);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--font-color-r);
   
}

.home-description {
    margin-bottom: 30px;
    line-height: 1.4rem;
    max-width: 60ch;
}

/*Styling all the buttons and professional social links*/
.social-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.cta-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.btn-projects {
    background-color: var(--font-color-r);    
    color: var(--font-color-b); 
    box-sizing: border-box;            
    border-radius: 10px;       
    padding: 0.5em 1em; 
    text-align: center;      
    font-weight: var(--fw-bold);
}

.btn-projects:hover {
    background-color: #8b0000;
}

.btn-contact {
    border-radius: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5em 1em; 
    color: var(--font-color-w);
}

.btn-contact:hover { 
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 255, 0.3);
}


.professional-social-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}

.professional-social-links svg {
  transition: 0.4s ease;
}

.professional-social-links svg path,
.professional-social-links svg rect,
.professional-social-links svg polyline {
  transition: 0.4s ease;
}

.professional-social-links a:hover svg path,
.professional-social-links a:hover svg rect,
.professional-social-links a:hover svg polyline {
  stroke: var(--font-color-r);
}

/*End of the left section of home content styling*/


/*Start of the Right section of home content styling*/
.home-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  margin: 0 auto;
}

/*Styling my own image art of my face */
.image-border {
  width: 290px;
  aspect-ratio: 1 / 1;
  padding: 8px;
  border-radius: 50%;
  background: var(--font-color-b);
  border: 5px solid var(--font-color-r);
  outline-offset: 4px;
}

.image-border img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 50%;
  transform: translateY(15px);
  transform: scale(1.07);
}

.image-border:hover {
     box-shadow: 
     0 0 0 4px #8b0000,
    0 0 25px 20px rgba(139, 0, 0, 0.8);
     cursor: pointer;
  }

/*End of Section Home Styling*/


/*Start of Section About Styling*/

#about {
    padding-top: 13rem;
}

.section-about-header {
    position: relative;
    display: inline-block;
    margin: 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    color: white;
}

.section-about-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 85px;             
    height: 3px;              
    background-color: red;    
    border-radius: 2px;
}

.inner-about-content {
  padding: 2rem; 
}

/*Start of styling for the header of the About Section*/

.bio-header {
    display: flex;
    align-items: center;
    width: auto;
    height: 35px;
    margin: 0;
    margin-top: 40px;
    gap: 0.5rem;
}

.bio-title {
    margin: 0;
    font-size: var(--fs-small)
}

.bio-description {
    margin-top: 10px;
    max-width: 105ch;
    line-height: 1.6rem;
    font-size: var(--fs-body);
    color: rgba(255, 255, 255, 0.9);
}

/*End of styling for the header of the About Section*/



/*Start of styling for the education, skills, work-experience of the About Section*/


.button-card-we-ed {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 40px;
    
}

/*Start of styling the education section. 1st Element*/

.education {
    border: 1px solid var(--font-color-r);
    border-radius: 16px;
    padding: 1.3rem;
    padding-bottom: 2rem;
    background: var(--font-color-b);
    color: var(--font-color-w);
    transition: box-shadow 0.25s ease, border-color 0.25s ease;
}


.education:hover {
    border-color: var(--font-color-r);
    box-shadow: 
    inset 0 0 24px rgba(139, 0, 0, 0.8),
    inset 0 0 6px rgba(139, 0, 0, 0.8);
}

.button-card-ed-header {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 40px;
    justify-content: center;
}

/*Styling the description of education section*/

.education-description-styling {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.button-card-ed-description-hs{
    text-align: center;
}

.hs-title {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--font-color-w);
    text-decoration-thickness: 1px;
    margin-bottom: 1rem;
}

.hs-results-named {
    margin: 0;
    margin-bottom: 10px;
}

.hs-study-period {
    margin: 0;
}


.button-card-ed-description-uni {
    text-align: center;
}

.uni-title {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--font-color-w);
    text-decoration-thickness: 1px;

}

.uni-course {
    margin-bottom: 10px !important;
    margin-top: 0;
}

.uni-study-period {
    margin-top: 0;
    margin-bottom: 10px;
}

.uni-year {
    margin-top: 0;
}

/*End of styling the education section. 1st Element*/



/*Start of styling the Work-experience section. 2nd Element*/

.work-experience {
    border: 1px solid var(--font-color-r);
    border-radius: 16px;
    padding: 3rem 1rem;
    justify-content: center;
    background: var(--font-color-b);
    color: var(--font-color-w);
    transition: box-shadow 0.25s ease, border-color 0.25s ease;
    width: 250px;
}

.work-experience:hover {
    border-color: var(--font-color-r);
    box-shadow: 
    inset 0 0 24px rgba(139, 0, 0, 0.8),
    inset 0 0 6px rgba(139, 0, 0, 0.8);
}


.button-card-we-header {
 display: flex;
 align-items: center;
 gap: 0.6rem;
 height: 60px;
 justify-content: center;
 margin-bottom: 0.5rem;
 
}

/*Styling the description of work experience section*/

.we-description  {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.we-title {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--font-color-w);
    text-decoration-thickness: 1px;
    margin-bottom: 8px;

}

.we-company {
 margin-top: 0;
 margin-bottom: 5px;
}

.we-date {
 margin-top: 0;
 margin-bottom: 5px;
}

/*End of styling the Work-experience section. 2nd Element*/


/*Start of styling the skills section. 3rd Element*/

.skills {  
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.button-card-skill-header { 
    display: flex;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
}

.button-card-skill-title {
    margin: 0;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
}

.skill-description {
    margin-top: 10px;
    text-align: center;
}


.skill-row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
     border: 0.5px outset var(--font-color-r);
    border-radius: 16px;
    background: var(--font-color-b);
    color: var(--font-color-w);
    transition: box-shadow 0.25s ease, border-color 0.25s ease;
    gap: 0.5rem;
    margin-top: 0.7rem;
    justify-content: center;
}

.skill-row-content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.language-name h2 { 
  margin: 0;
  font-size: var(--fs-medium);
}

/*End of styling the skills section. 3rd Element*/




/*Start of Section Portfolio Styling*/

#portfolio {
    padding-top: 8rem;
}

.inner-portfolio-content {
    padding: 2rem;
}

/*Styling of Section header - title and description*/
.section-header-title {
    position: relative;
    display: inline-block;
    margin: 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    color: var(--font-color-w);
}

.section-header-title::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 85px;
    height: 3px;
    background-color: var(--font-color-r);
    border-radius: 2px;
}

.section-header-title-description {
   font-size: var(--fs-body);
   margin-top: 20px;
    max-width: 80ch;
    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
}

/*Styling of each project, and then duplicated into all*/
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
  justify-items: center;
}

.project {
   
    background: var(--font-color-b);
    border-radius: 10px;
     outline: 1px solid var(--font-color-r);
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    color: var(--font-color-w);
}

.project-image {
    color: var(--font-color-r);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color-r);
}

.project-image img {
    max-width: 100%;
    border-radius: 12px;
    transform: rotate(-2deg);
}

.project-main-content {
    padding: 1.5rem;
}

.project-title {
    margin: 0 0 0.6rem;
    font-size: var(--fs-small-big);
    font-weight: var(--fw-bold);
}

.project-description {
    color: var(--font-color-w);
    font-size: var(--fs-body);
    line-height: 1.5;
    max-width: 130;
    margin-bottom: 1rem;
}

.project-important-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.9rem;
    outline: 1px var(--font-color-b);
}

.tag {
    background: var(--font-color-r);
    color: var(--font-color-b);
    padding: 0.35rem 0.8rem;
    border-radius: 999px;
    font-size: var(--fs-body);
}

.github-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid var(--font-color-r);
  padding: 0.55rem 1rem;
  border-radius: 10px;
  transition: background 0.2s ease, transform 0.2s ease;
}

.github-btn:hover {
  background: var(--font-color-r);
  transform: translateY(-2px);
}

/*End of Section Portfolio Styling*/



/*Start of Activities section Styling*/

#activities {
    padding-top: 8rem;
}

.inner-activities-content {
    padding: 2rem;
}

/*Styling of each grid activity card, and then duplicated into all*/
.activities-grid-inline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.activity-box-card {
    background: var(--font-color-b);
    border: 1px solid var(--font-color-r);
    border-radius: 16px;
    padding: 1.5rem;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.activity-box-card:hover {
    transform: translateY(-4px);
    border-color: var(--font-color-w);
}

.activity-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    justify-content: center;
    margin-bottom: 10px;
}

.activity-header span {
    color: var(--font-color-r);
    font-size: var(--fs-small-big)
}

.activity-box-card-title {
    margin: 0 0 0.6rem 0;
    font-size: var(--fs-small-big);
    font-weight: var(--fw-bold);
    margin: 0;
}

.activity-box-card-description, .activity-box-card-description a  {
    margin: 0; 
    font-size: var(--fs-body);
    color: white;
    text-align: center;
    line-height: 1.6;
}

/*End of Activities section Styling*/



/*Start of Contact Me section Styling*/

#contact {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.inner-contact-section {
    padding: 2rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 2rem;
  width: 100%;
}

.contact-info-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.information-block {
    display: flex; 
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.information-block h3 {
    margin: 0;
    font-size: var(--fs-body);
    color: white;
}

.information-block p {
    margin: 0;
    font-size: 0.95rem;
    color: #bbb;
}

.contact-form-right {
    background: rgba(255,255,255,0.02);
    border: 1px solid var(--font-color-r);
    border-radius: 20px;
    padding: 2.5rem;
    box-shadow: 0 0 25px rgba(255,0,0, 0.15);
}

.contact-form-right input, .contact-form-right text area {
    width: 100%;
    background: var(--font-color-b);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 0.9rem 1rem;
    color: var(--font-color-w);
    font-size: var(--fs-body);
}

.contact-form-right input::placeholder .contact-form-right textarea:focus {
    color: #777;
}

.contact-form-right input:focus,
.contact-form-right textarea:focus {
    outline: none;
    border-color: var(--font-color-r);
    box-shadow: 0 0 10px rgba(255,0,0,0.4)
}

.form-row {
    display: grid;
    grid-template-columns: 3,1fr;
    gap: 2rem;
    margin-bottom: 1rem;
}

.contact-form-right textarea {
    background:#0b0b0b;
    resize: none;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 14px;
    border: 1px solid #333;
    color: var(--font-color-w);
    resize: none;
    outline: none;
    font-family: var(--fw-bold);
}

.contact-form-right textarea::placeholder {
    color: #888;
}

.contact-method {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.contact-method p {
    margin-bottom: 0.75rem;
    color: #ccc;
}

.contact-method label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    color: var(--font-color-w);
}

.contact-method input {
    accent-color: red;
}

.contact-form-right button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background: linear-gradient(135deg, var(--font-color-r), #b00000);
    border: none;
    border-radius: 12px;
    color: var(--font-color-w);
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.contact-form-right button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255, 0, 0, 0.4);
}


#contact .material-symbols-outlined {
    color: var(--font-color-r);
}



/*End of Main Content */


/*Footer Content */

.site-footer {
  background: var(--font-color-r);
  padding: 3rem 2rem 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  font-size: var(--fs-medium);
  color: var(--font-color-w);
  margin-bottom: 0.5rem;
}

.footer-text {
  max-width: 420px;
  color: var(--font-color-w);
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-right p {
  color: var(--font-color-w);
  font-size: 0.9rem;
}

/* End of Footer Content */